<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'blog:post_list' %}">My Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="{% url 'blog:about' %}"> About <span class="sr-only">(current)</span></a></li>
      <li class="nav-item active"><a class="nav-link" href="http://djangoproject.com/"> Django</a></li>
      <li class="nav-item active"><a class="nav-link" href="http://python.org/"> Python</a></li>
    </ul>

  <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
          <li class="nav-item active"><a class="nav-link" href="{% url 'blog:post_create' %}"> New Post </a></li>
          <li class="nav-item active"><a class="nav-link" href="{% url 'blog:post_draft_list' %}"> Drafts </a></li>
          <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}?next={% url 'blog:post_list' %}"> Logout</a></li>
          <li class="nav-item active mr-3 my-lg-1 text-white"><h4>Welcome : {{user.username}}</h4>
      {% else %}
          <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}">
                <button class="btn btn-primary my-2 my-lg-0" type="submit" hr>Login</button>
          </form>
      {% endif %}
   </ul>

  </div>
</nav>

<br>
{% block body_block %}

{% endblock %}
</body>
</html>